
@import 'custom';
@import 'normalize';
$fa-font-path: '~font-awesome/fonts'; 
@import '~font-awesome/scss/font-awesome.scss';
@import "node_modules/bootstrap/scss/bootstrap";

body {

}
.container {
    background: #f9f9f9;
}
$color-white :white;

//COLOR TEXT 
$color-text-hitam : #707070;
//COLOR BUTTON
$color-green : #32aaa1;
$color-green-hover : #36bdb3;
$color-oren : #f89b1c;
$color-oren-hover : #feb82a;

$color-btn-border : rgba(#a8a8a8,0.25);

$colors : (
    default : (
        main :#f9f9f9 ,
        hover : #f9f9f9,
        active : #f9f9f9,
        focus : #f9f9f9,
    ),
    tosca : (
        main : #32AAA1,
        hover : #36bdb3,
        active : #30a79e,
        focus : #30a79e,
    ),
    hijau : (
        main : #75BE6A,
        hover : #8cca84,
        active : #69b95e,
        focus : #69b95e,
    ),
    oren : (
        main : #f89b1c,
        hover : #feb82a,
        active : #f18e07,
        focus : #f18e07,
    ),
    oren-grad :
    (
        main : linear-gradient(228deg, #f89b1c, #fdb429, #feb82a),

    ),
    tosca-grad : (
        main : linear-gradient(200deg, #75be6a, #32aaa1),
    )

);


//SIZE BUTTON
$btn-size  : (
    small : (
        width : 95px,
        height : 37px
    ),
    medium : (
        width : 267px,
        height : 51px
    ),
    large : (
        width : 348px,
        height : 53px
    ),
    sort : (
        width : 137px,
        height : 35px
    )
);
//---------------------------MIXIN----------------------------
@mixin btn-fishby($btn-color) {
    @extend .btn ;
    width: 247px;
    height: 53px;
    @include fishby-btn-border-radius(0px);
    color: $color-white;
    background: $btn-color;
    &:active {
        //box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25
        box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0);
    }
    &:focus {
        box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0);
    }
}
@mixin fishby-btn-shadow($args...) {
    -moz-border-box-shadow: $args;
    -ms-border-box-shadow: $args;
    -o-border-box-shadow: $args;
    -webkit-box-shadow: $args;
    box-shadow: $args;
}


@mixin fishby-btn-border-radius($args...){
    -moz-border-border-radius: $args;
    -ms-border-border-radius: $args;
    -o-border-border-radius: $args;
    -webkit-border-radius : $args;
    border-radius: $args;
}
//ANIMATION TRANSITION
@mixin fishby-transition($args...) {
    -moz-border-box-transition: $args;
    -ms-border-box-transition: $args;
    -o-border-box-transition: $args;
    -webkit-box-transition: $args;
    transition: $args;
}
//---------------------------MIXIN----------------------------
//-----------------------------------FUNCTION--------------------------------
//Fungsi manggil color
@function btn-color($button-color, $tone){
    @return map-get(map-get($colors, $button-color),$tone);
}
//Fungsi manggil Sizebutton
@function btn-size($button-size, $type){
    @return map-get(map-get($btn-size, $button-size),$type);
}
/**
@function map-deep-get($map, $keys...) {
    $value: $map;
    @each $key in $keys {
      $value: map-get($value, $key);
    }
    @return $value;
  }
map-deep-get($config, "themes", "mist", "header");
*/

//-----------------------------------FUNCTION--------------------------------


@each $warna, $hex in $colors {
    .btn-fishby-#{$warna} {
        $bc : btn-color($warna, main);
        $bc-hover : btn-color($warna, hover);
        $bc-active : btn-color($warna, active);
        $bc-focus : btn-color($warna, focus);
        $bc-disable : btn-color($warna, disable);

        @include btn-fishby($bc);

        @if ($warna =='default') {
            color: $color-text-hitam;
            border: solid 1px $color-btn-border;

        }

        &:hover {
            background: $bc-hover;
        }
        &:active {
            background: $bc-active;
            @if (str-index($warna, '-grad')) {
                box-shadow: 0 0 0 0.2rem rgba(#fff,0.25);

            } @else {
                box-shadow: 0 0 0 0.2rem rgba($bc,0.25);
            }

        }
        &:focus {
            background: $bc-focus;
        }
        //SHADOWS
        &-shadow{
            @extend .btn-fishby-#{$warna};
            @include fishby-btn-shadow(0 19px 38px 0 rgba(0, 0, 0, 0.26))

        } 
        //SIZING BUTTON
    }
}

.btn-round {
    @include fishby-btn-border-radius(26.5px);
}
@each $size, $type in $btn-size {
    .btn-#{$size} {
        width: btn-size($size, width );
        height: btn-size($size, height );
        font-size: 11px;
        @if ($size =='medium') {
            font-size: 16px;
        } @else if ($size =='large')  {
            font-size: 20px;
        } @else if ($size =='sort')  {
            font-size: 12px;
        }
    }
}

//------------------------------------------CHECKBOX------------------------
// 
 .fishby-checkbox{
     label {
        padding: 0;
        & * {
            vertical-align: middle;
        }
        input {
            display: none;
            &+span {
                cursor: pointer;

                position: relative;
                display: inline-block;
                margin-right: 10px; //margin text
                width: 53px;
                height: 30px;
                background: $color-white;
                border: solid 1px $color-green;
                border-radius: 50px;
                @include fishby-transition(left 0.1s);
                & small{
                    position: absolute;
                    display: block;
                    width: 50%;
                    height: 100%;
                    background: $color-green;
                    border: solid 1px $color-white;
                    border-radius: 50%;
                    @include fishby-transition(left 0.3s);
                    left: 0;
                }
            }
            &:checked+span{
                background: $color-green;
                & small {
                    left: 50%;
                    background: $color-white;
                    border: solid 10px $color-white;

                    @include fishby-btn-shadow(0px 2px 3px 0 rgba(0, 0, 0, 0.17))
                }
            }
        }
     }


 }
 //------------------------------------------PAGINATION------------------------

.fishby-pagination {
    @extend .pagination ;
    font-size: 15px;
    font-weight: bold;
    & .page-item {
        width: 51px;
        text-align: center;
        &:first-child, &:last-child  {
            width: 102px;
            text-align: center;
        }
        & a {
            color: $color-text-hitam;
            height: 40px;

        }

        &.active{
            & .page-link {
                z-index: 1;
 
                color: #fff;
               
                background: $color-green;
               
                border-color: $color-green;
            }
        }

    }

}

//TYPEFACE 

@font-face {
    font-family: 'Open Sans';
    src:url('https://fonts.googleapis.com/css?family=Open+Sans')
 }
@font-face {
    font-family: 'Quicksand';
    src:url('https://fonts.googleapis.com/css?family=Quicksand')
 }

 $fonts : (
    (
         group : 'Open Sans',
         id : light,
         weight : 300,
         style : normal,
         font : ('Open Sans', san-serif ),
    ),
    (
         group : 'Open Sans',
         id : regular,
         weight : normal,
         style : normal,
         font : ('Open Sans', san-serif ),
    ),
    (
         group : 'Open Sans',
         id : medium,
         weight : 500,
         style : normal,
         font : ('Open Sans', san-serif ),
    ),
    (
         group : 'Open Sans',
         id : bold,
         weight : bold,
         style : normal,
         font : ('Open Sans', san-serif ),
    ),

 );


 @mixin font($group, $id:regular){
     @each $font in $fonts {
         @if ($group == map-get($font, group) and $id == map-get($font, id)) {
            font-family: map-get($font, font);
            font-weight: map-get($font, weight);
            font-style: map-get($font, style);
         }
     }
 }

 #TYPEFACE {
     font-size: 36px;
    @include font('Open Sans', bold); //BBERHASIl

 }